@import 'datatables.net-dt/css/dataTables.dataTables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#tabla-proveedores tbody tr {
    @apply border-b border-gray-200 hover:bg-gray-300 transition-colors;
}

#tabla-proveedores tbody td {
    @apply px-4 py-3;
}
